@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 font-sans text-gray-200;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}
